* {
    background-color:red;

}

a{
    text-decoration: none;
    color:white;
}
section article ul li{
    background-color:blue;
}

ol li {
    color: white
}

#orange{
    background-color: orange;
}
